<div class="container">

<h1>Wikis</h1>
  <div class="row">
    <div class="col-md-8">
      <% @wikis.each do |wiki| %>
      <% unless wiki.private %>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">
                <%= link_to markdown(wiki.title), wiki %>
            </h4>
              <h5>Created <%= time_ago_in_words wiki.created_at %> ago by <%= wiki.user.email || current_user.email %></h5>
              <p>√<% if wiki.private %>
                <small>private</small>
              <% else %>
                <small>public</small>
              <% end %> </p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-primary' %>    
    </div>
    <div class="col-md-4">
        <% if current_user.premium? || current_user.admin? %>
      <h3>Your Private Wikis</h3>
        <% if @user.wikis.count >= 1 %>
          <% @user.wikis.each do |wiki| %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <% if wiki.private %>
                  <p><%= link_to wiki.title, wiki %></p>
                  <h5>Created <%= time_ago_in_words wiki.created_at %> ago by <%= wiki.user.email || current_user.email %></h5>
                <p>√<% if wiki.private %>
                  <small>private</small>
                <% else %>
                  <small>public</small>
                <% end %> </p>
              <% end %>
            <% end %>
            </h4>
          </div>
        </div>
      </div>
      <% else %>
        <p>You haven't created any private wikis yet!</p>
      <% end %>

    <div>
      <% #if current_user.collaborating_wikis %>
      <% if current_user.standard? && collaborating_users == true %>
        <% if @user.collaborating_wikis.count > 0 %>
       <h3>Collaborative Wikis</h3>
        <% @user.wikis.each do |wiki| %>
        <% #@wiki.collaborating_users.each do |user| %>
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <% if wiki.private %>
                  <p><%= link_to wiki.title, wiki %></p>
                  <h5>Created <%= time_ago_in_words wiki.created_at %> ago by <%= wiki.user.email || current_user.email %></h5>
                <p>√<% if wiki.private %>
                  <small>private</small>
                <% else %>
                  <small>public</small>
                <% end %> </p>
              <% end %>
            <% end %>
            </h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
  <% end %>
</div>